.grey {
  background-color: lightblue;
  height: 2000px;
  margin-top: 500px;
}

.image {
  width: 400px;
  float: right;
  /* 조건부로 fixed됨, 부모 박스 넘어가면 해제 */
  position: sticky;
  top: 150px;
}

.text {
  float: left;
  width: 300px;
}
